@import 'nib'

#arena-container
  background: #ccc;
  width: 90%;
  height: 600px;
  margin: auto;

    #playerOne
      float: left;
      padding: 5px;
      width: 200px;
      border: 1px dotted #fff
      margin: 15px;

    #playerTwo
      float: right;
      padding: 5px;
      width: 200px;
      border: 1px dotted #fff
      margin: 15px;
